<script>
window.onload = function() {

    {% if config.JWT_AUTH_URL_RULE -%}
    // JWT token holder
    var jwt_token;
    {%- endif %}

    // Build a system
    const ui = SwaggerUIBundle(
    Object.assign(
    {

    {% if urls %}
    urls: {{ urls | tojson }},
    {% else %}
    url: ".{{ specs[0]['url'] }}".replace("/swagger", ""),
    {% endif %}
    dom_id: '#swagger-ui',
    validatorUrl: null,
    displayOperationId: true,
    deepLinking: true,
    jsonEditor: true,
    {% if flasgger_config.doc_expansion -%}
        docExpansion: "{{flasgger_config.doc_expansion | safe }}",
    {%- endif %}
    apisSorter: "alpha",
    presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
    ],
    plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
    ],
   
    requestInterceptor: function(request) {
        if (!request.hasOwnProperty('loadSpec')){
            request.url = window.location.origin + window.location.pathname.split("/swagger")[0] + request.url.replace(window.location.origin, "");
        }

        return request;
    },
    responseInterceptor: function(response) {
        {% if config.JWT_AUTH_HEADER_TOKEN -%}
            var jwtAuthHeaderToken = "{{ config.JWT_AUTH_HEADER_TOKEN }}";
        {%- else %}
            var jwtAuthHeaderToken = "jwt-token";
        {%- endif %}
        var tokenField = jwtAuthHeaderToken;
        var headers = response.headers;

        if (headers.hasOwnProperty(tokenField)) {
        jwt_token = headers[tokenField];
        }

        return response;
    },

    {% if not flasgger_config.hide_top_bar -%}
    layout: "StandaloneLayout",
    {%- endif %}
    
    },
    {{ json.dumps(flasgger_config.get('ui_params', {})) | safe }}
    {% if flasgger_config.ui_params_text -%}
    , {{ flasgger_config.ui_params_text | safe }}
    {%- endif %}
    )
    
    )

    let auth_config = {{ flasgger_config.get("auth") | safe }};

    ui.initOAuth(auth_config);

    window.ui = ui

    {% if not flasgger_config.hide_top_bar -%}
    $(".topbar-wrapper .link span").replaceWith("<span>{{title}}</span>");
    {%- endif %}
}
</script>
